/* GENERALES */

body{
    background-color:;
    font-family: 'Poppins', sans-serif;
    background-image: url(https://images3.alphacoders.com/633/thumb-1920-633288.png);
    background-size: cover;    
}

ul{
    list-style: none;
}

/* HEADER */

h1.header-title{
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: 60px;
}

.header-title-rick{
    color: rgb(40, 49, 61);
}

/* TARJETAS */

div.hijo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.tarjetas{
    display: flex;
    width: 1/3;
    margin:10px;
    padding: 20px;
    border: 1px solid white;
    align-items: center;
    border-radius: 10px;

    background-color: white;
}

img.tarjeta-img{
    border-radius: 10px;
}

.personaje-name{
    font-weight: bold;
    font-size: 20px;
}

ul.personajes{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: 0px;
    padding-inline-start: 0px;
}

/* FOOTER */

.Footer{
    background-color: rgba(0, 0, 0, 0.255);
    padding: 20px;
}

.footer-title{
    font-weight: 400;
    font-size: 10px;
    text-align: center;
}